    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        color: whitesmoke;
    }

    @keyframes gradient {
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
    }

.answer {
  position: relative;
  top: 30px;
}

.main-form {
    margin-top: 100px;
}

.authenticate-buttons {
    padding:5px;
    display: flex;
    justify-content: flex-start
}



#main-form {
    transition: 0.4s;
    border-radius:50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 18px;
    font-weight: bold;
    opacity: 90%;
}


#main-form:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 7px 3px 10px #444444;
}
#main-form:focus {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 7px 3px 10px #444444;
}


#add-city-form {
    width: 400px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
}

.btn-success {
    height: 50px;
    border-radius: 50px;
    position: relative;
    top:10px;
    font-size: 20px;
}
.btn-success:hover {
    height: 50px;
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 2px 1px 5px #444444;

}