{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main-form">
    <img src="{% static 'logo.png' %}" height="200px" alt="">

    <form method="post" class="col-lg-6 offset-lg-3 ">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 col-5 mx-auto">
            <button type="submit" class="btn btn-success">Weather IT!</button>
        </div>
    </form>
</div>

{% if error %}
    <br><h3>{{ error }}</h3><br>
{% endif %}

{% if response %}
<div class="answer">
    <h2>{{ response.name }}</h2>
    <h3>{{ response.weather.0.description }}</h3>
    <h3>{{ response.main.temp }} ℃ </h3>
</div>
{% endif %}

{% endblock %}
